&__recorder {
  .sh {
    &__video {
      height: 100%;
      max-height: 45vh;
      &--wrp {
        position: relative;
        width: 40%;

        @include mq(lg) {
          max-width: 56rem;
        }

        .sh {
          &__video {
            display: none;
            //aspect-ratio: 16/9;
            border-radius: $default-radius;
            background-color: $light-grey;
            box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
              0 15px 50px -15px rgba(0, 0, 0, 0.12);

            &.visible {
              display: block;
            }

            &--sheet {
              background: linear-gradient(
                to bottom,
                transparent,
                rgba(0, 0, 0, 0.3)
              );
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 10%;
              border-bottom-left-radius: $default-radius;
              border-bottom-right-radius: $default-radius;
            }

            &--btn {
              position: absolute;
              bottom: 3%;
              left: 60%;
              transform: translateX(-50%) scale(0.9);
              border-radius: 50%;
              width: 2rem;
              height: 2rem;
              background-color: red;
              background-image: url('/src/images/stop.svg');
              min-width: unset;
              padding: 2.5rem;
              border: 3px solid $white;
              box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3);
              transition: transform 0.4s $bezier-curve;

              &:hover {
                transform: translateX(-50%) scale(0.8);

                .sh__video--btn-icon {
                  transform: translate(-50%, -50%) scale(0.8);
                }
              }

              &-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                height: 90%;
                transition: transform 0.4s $bezier-curve;
              }
            }

            &--btn1 {
              position: absolute;
              bottom: 3%;
              left: 40%;
              transform: translateX(-50%) scale(0.9);
              border-radius: 50%;
              width: 2rem;
              height: 2rem;
              background: rgb(32, 201, 32);
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              min-width: unset;
              padding: 2.5rem;
              border: 3px solid $white;
              box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3);
              transition: transform 0.4s $bezier-curve;

              &.pause {
                background-image: url('/src/images/pause.svg');
              }

              &.resume {
                background-image: url('/src/images/resume.svg');
              }

              &:hover {
                transform: translateX(-50%) scale(0.8);

                .sh__video--btn-icon {
                  transform: translate(-50%, -50%) scale(0.8);
                }
              }

              &-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                height: 90%;
                transition: transform 0.4s $bezier-curve;
              }
            }
          }

          &__download {
            &-btn {
              position: absolute;
              bottom: 0%;
              left: 50%;
              transform: translate(-50%, 300%);
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 1rem 2.5rem;
              width: auto;
              background: $green;
              white-space: nowrap;
              border: 0;
              border-radius: $default-radius;
              transition: all 0.8s $bezier-curve;

              &.visible {
                pointer-events: all;
                opacity: 1;
                transform: translate(-50%, 5rem);
              }

              &:hover {
                transform: translate(-50%, 5rem) scale(0.92);
              }

              &--icon {
                max-width: 1.5rem;
                margin-right: 0.5rem;
              }
              &--text {
                @include fluid-type(768px, 1920px, 14px, 16px);
                font-weight: 600;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}
