&__github {
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.7rem;
    right: 5.5rem;
    height: fit-content;
    border-radius: 5px;
    border: 2px solid;
    margin: 0;
    padding: 0;
  }
  