# Ignore Mac system files
.DS_store

# Ignore node_modules & dist folder
node_modules
dist

# Ignore all text files
*.txt
*.md

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache
.parcel-cache