footer.sh__footer
    .sh__footer-wrp
        h2.sh__footer--text Built with&nbsp;
            picture(class="sh__footer--love-icon")
                source(srcset="images/heart.svg?as=avif&width=80" type="image/avif")
                source(srcset="images/heart.svg?as=webp&width=80" type="image/webp")
                source(srcset="images/heart.svg?width=80" type="image/png")
                img(src="images/heart.svg?width=80" alt="heart icon")

            | &nbsp;by&nbsp;

            a(href="https://twitter.com/heysagnik" class="sh__footer--user")
                span Sagnik 
                picture(class="sh__footer--user-icon")
                    source(srcset="images/sagnik.png?as=avif&width=100" type="image/avif")
                    source(srcset="images/sagnik.png?as=webp&width=100" type="image/webp")
                    source(srcset="images/sagnik.png?width=100" type="image/jpg")
                    img(src="images/sagnik.png?width=100" alt="sagnik icon")