section.sh__recorder
    .sh__wrp
        a(class="sh__logo")
            picture(class="sh__logo--img")
                source(srcset="images/logo.png?as=avif&width=400" type="image/avif")
                source(srcset="images/logo.png?as=webp&width=400" type="image/webp")
                source(srcset="images/logo.png?width=400" type="image/png")
                img(src="images/logo.png?width=400" alt="test image")
            h1.sh__logo--text Screen <span>REC</span> <sup style="font-weight:400;">βeta</sup>

        .sh__header
            h2.sh__header--title.outro
                span Your video is ready to be exported
            h2.sh__header--title.recording
                span You are currently <span class="red--text">recording</span>

        h2.sh__mainheading
                span Record your Screen for Free
        span.sh__heading
                span.highlight Quick
                |  and
                span.highlight easy
                |  way to record
                span.highlight professional
                |  videos and share them instantly.
                |
        .sh__container
            .s-box
                <img src="./images/share.png" style="margin: 40px 0 5px 40px;"></img>
                span
                | Screen
                |
            .ca-box
                <img src="./images/camera_share.png" style="margin: 40px 0 5px 40px;" ></img>
                span
                | Screen &amp; Camera
                |
            .r-box
                div(type="button" class="btn" id="start")
                    span Start Recording
                    div.spec
                        div.circle
                |
                div.small2
                    | 15,000+ recordings created last week
                    |
                    |

        div
            span.sh__features <img src="./images/icons8-no-hidden-fees-30.svg"></img>Free Online Recorder
            |
            span.sh__features <img src="./images/icons8-share-32.svg"></img> Share,without downloading
            |
            span.sh__features <img src="./images/icons8-movie-50.svg"></img> 1080p High res-recordings
            |
            span.sh__features <img src="./images/icons8-cut-30.svg"</img> Simple Editor


        .sh__video--wrp
            .sh__video--sheet
            video(class="sh__video" id="preview" width="100%" height="100%" autoplay muted)
            button(class="sh__btn sh__video--btn1 pause" id="pauseAndResume")
            button(class="sh__btn sh__video--btn" id="stop")

            a(class="sh__btn sh__download-btn" id="download")
                img(class="sh__download-btn--icon" src=`./images/download.svg`)
                span(class="sh__download-btn--text") Download now
