section.sh__recorder
    .sh__wrp
        a(class="sh__logo")
            picture(class="sh__logo--img")
                source(srcset="images/logo.png?as=avif&width=400" type="image/avif")
                source(srcset="images/logo.png?as=webp&width=400" type="image/webp")
                source(srcset="images/logo.png?width=400" type="image/png")
                img(src="images/logo.png?width=400" alt="test image")
            h1.sh__logo--text Screen <span>REC</span> <sup style="font-weight:400;">βeta</sup>

        .sh__header
            h2.sh__header--title.outro
                span Your video is ready to be exported
            h2.sh__header--title.recording
                span You are currently <span class="red--text">recording</span>

        h2.sh__mainheading
                span Record your Screen for Free
        span.sh__heading
                span.highlight Quick
                |  and
                span.highlight easy
                |  way to record
                span.highlight professional
                |  videos and share them instantly.
                |
        .sh__container
            .s-box
                <img src="./images/share.png" style="margin: 40px 0 5px 40px;"></img>
                span
                | Screen
                |
            .ca-box
                <img src="./images/camera_share.png" style="margin: 40px 0 5px 40px;" ></img>
                span
                | Screen &amp; Camera
                |
            .r-box
                div(type="button" class="btn" id="start")
                    span Start Recording
                    div.spec
                        div.circle
                |
                div.small2
                    | 15,000+ recordings created last week
                    |
                    |

        div
            span.sh__features <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M14.667.059C9.393.479 4.565 3.613 1.98 8.293 1.081 9.923.453 11.8.152 13.76c-.169 1.104-.173 3.361-.006 4.427.526 3.379 1.846 6.179 4.057 8.606 2.501 2.746 5.761 4.463 9.61 5.061.982.153 3.272.164 4.24.021 3.439-.509 6.274-1.832 8.74-4.078 2.783-2.535 4.505-5.836 5.081-9.744.134-.904.134-3.202 0-4.106-.696-4.72-3.082-8.579-6.914-11.186C21.95.714 18.342-.233 14.667.059m2.708 2.77c2.178.235 4.209.976 6.012 2.194.381.257.765.529.853.602l.16.134-2.058 2.058-2.057 2.058-.243-.163c-.657-.444-1.97-.845-3.029-.925l-.186-.014-.015-1.16-.014-1.16H15.2v2.336l-.36.062c-1.751.301-2.895 1.248-3.322 2.749-.239.841-.236 2.231.006 2.878.212.567 1.012 1.284 1.905 1.705.182.086.331.17.331.187 0 .017-1.8 1.83-4 4.03l-4.001 4-.134-.16c-.335-.401-1.103-1.61-1.421-2.24-.987-1.952-1.431-3.816-1.431-6.012 0-2.107.429-3.947 1.359-5.828C5.148 8.105 6.52 6.491 8.367 5.177a13.424 13.424 0 0 1 5.008-2.163c1.163-.232 2.845-.309 4-.185m9.169 5.158a13.38 13.38 0 0 1 2.627 6.638c.123 1.14.059 2.65-.164 3.85-.922 4.98-4.79 9.108-9.7 10.354-1.846.468-3.858.541-5.68.207a13.484 13.484 0 0 1-4.752-1.866c-.396-.252-1.248-.884-1.248-.926 0-.017.919-.95 2.043-2.074l2.043-2.043.405.218c.68.367 1.665.681 2.695.859l.387.066v2.277h1.6v-2.182l.2-.029c1.354-.194 2.258-.616 3.203-1.495.646-.602 1.014-1.192 1.272-2.038.128-.421.143-.553.143-1.27-.001-.645-.022-.878-.112-1.207-.296-1.078-.872-1.753-1.959-2.298a8.33 8.33 0 0 1-.451-.236c-.026-.024 7.097-7.165 7.147-7.165.016 0 .152.162.301.36m-9.141 3.453c.252.044.58.134.729.2l.271.12-1.069 1.067-1.069 1.066-.439-.152c-1.19-.413-1.533-.694-1.533-1.257 0-.232.031-.344.134-.496.168-.247.547-.473.932-.556.419-.09 1.506-.086 2.044.008m-.328 6.058c.622.171 1.299.686 1.432 1.09.104.314.045.956-.12 1.317-.117.255-.179.323-.399.434-.144.073-.445.17-.669.217-.507.104-1.617.108-2.185.007-.409-.073-1.167-.304-1.321-.403-.063-.04.202-.332 1.306-1.438.992-.993 1.412-1.38 1.475-1.36.049.016.266.077.481.136" fill-rule="evenodd"/></svg> Free Online Recorder
            |
            span.sh__features <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M17.12 5.107c0 3.857-.014 4.866-.067 4.866-.236.001-1.35.127-1.932.221-4.359.698-8.327 3.022-11.161 6.539a17.904 17.904 0 0 0-3.478 7.134c-.138.586-.211.99-.381 2.106-.036.24-.07 1.483-.084 3.094-.021 2.32-.014 2.678.05 2.586.042-.058.442-.778.891-1.6 1.324-2.426 1.662-2.968 2.464-3.957 2.576-3.177 6.238-5.245 10.326-5.831.812-.117 2.589-.195 3.065-.136l.306.039.014 4.903.014 4.902 7.426-7.426L32 15.12l-7.44-7.44L17.12.24v4.867M24.147 20.2l-5.107 5.107v-6.894l-.493-.061a17.91 17.91 0 0 0-2.538-.164c-3.866-.005-7.401 1.127-10.615 3.4-.745.527-1.466 1.146-2.267 1.947-.857.856-.837.875-.43-.389 1.582-4.911 5.331-8.742 10.18-10.401 1.694-.579 3.378-.85 5.296-.851l.867-.001V4.88l5.107 5.107 5.106 5.106-5.106 5.107" fill-rule="evenodd"/></svg> Share,without downloading
            |
            span.sh__features <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M0 16v16h32V0H0v16M4 2.667V4H1.333V1.333H4v1.334m26.667 0V4H28V1.333h2.667v1.334m-4 6v6H5.333v-12h21.334v6M4 8v1.333H1.333V6.667H4V8m26.667 0v1.333H28V6.667h2.667V8M4 13.333v1.334H1.333V12H4v1.333m26.667 0v1.334H28V12h2.667v1.333M4 18.667V20H1.333v-2.667H4v1.334m22.667 4.666v6H5.333v-12h21.334v6m4-4.666V20H28v-2.667h2.667v1.334M4 24v1.333H1.333v-2.666H4V24m26.667 0v1.333H28v-2.666h2.667V24M4 29.333v1.334H1.333V28H4v1.333m26.667 0v1.334H28V28h2.667v1.333" fill-rule="evenodd"/></svg> 1080p High res-recordings
            |
            span.sh__features <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M5.093 3.713C2.576 4.095.733 5.706.148 8.037c-.097.386-.117.617-.116 1.296.001.721.02.893.141 1.345.606 2.247 2.446 3.879 4.771 4.229.311.047.912.079 1.483.08 1.659.001 3.315.161 3.887.375.151.057.463.222.693.367l.418.264-.393.252c-.534.343-.748.431-1.28.524-.797.139-1.577.198-3.219.245-2.006.057-2.371.127-3.395.649-3.639 1.853-4.226 6.655-1.134 9.273 1.985 1.682 4.845 1.843 7.036.396.452-.298 1.198-1.031 1.509-1.482.904-1.312 1.22-2.909.867-4.384-.056-.234-.086-.441-.066-.46.131-.12 4.145-2.287 4.199-2.266.037.014 1.66 1.088 3.606 2.385 1.946 1.298 3.709 2.438 3.918 2.533a8.274 8.274 0 0 0 1.707.539c.713.144 2.564.13 3.532-.027a27.161 27.161 0 0 0 2.648-.577c.813-.215.982-.334 1.024-.72.051-.464.316-.296-5.889-3.72-3.115-1.72-5.665-3.138-5.666-3.153-.001-.015 2.474-1.395 5.5-3.067a762.147 762.147 0 0 0 5.727-3.182c.383-.24.449-.726.139-1.023-.168-.161-.596-.292-1.933-.594-1.512-.341-2.135-.418-3.409-.422-.984-.003-1.23.013-1.736.115a7.316 7.316 0 0 0-1.701.541c-.204.092-1.949 1.224-3.877 2.514-1.929 1.29-3.541 2.359-3.584 2.375-.059.023-4.053-2.127-4.205-2.264-.02-.018.01-.225.067-.46.354-1.469.038-3.069-.868-4.383-.307-.445-1.055-1.183-1.493-1.471a5.707 5.707 0 0 0-3.083-.972 9.582 9.582 0 0 0-.88.006m1.444 1.356c2.31.409 3.902 2.46 3.649 4.7a5.444 5.444 0 0 1-.215.957c-.312.908-.393.823 2.125 2.212a121.72 121.72 0 0 1 2.069 1.156c.034.034-1.386 1.001-1.522 1.036-.045.012-.362-.157-.704-.376-.341-.22-.713-.446-.826-.503-.689-.348-2.053-.531-4.446-.596-1.528-.042-1.656-.053-2.096-.183-.818-.243-1.523-.662-2.04-1.212-2.047-2.178-1.36-5.583 1.382-6.849a4.751 4.751 0 0 1 1.18-.36c.333-.046 1.139-.036 1.444.018m-1.684.661c-1.659.35-2.839 1.695-2.84 3.236-.001.895.289 1.564.972 2.242.373.37.553.503.913.676.653.314 1.034.402 1.755.404.739.003 1.11-.084 1.787-.42.584-.29 1.005-.654 1.348-1.167.384-.574.52-1.041.514-1.768-.004-.49-.027-.645-.14-.946C8.767 6.936 7.934 6.17 6.8 5.813c-.475-.149-1.439-.19-1.947-.083m1.474 1.331c.68.181 1.236.623 1.504 1.196a1.79 1.79 0 0 1-.005 1.455c-.484.989-1.775 1.494-2.926 1.145-.647-.196-1.229-.697-1.428-1.228-.495-1.323.584-2.627 2.181-2.638.22-.002.523.03.674.07M28.06 9.119c.683.105 1.455.264 1.424.294-.056.054-10.519 5.821-10.737 5.919-.324.145-3.424 1.869-3.76 2.091-.132.087-1.306.745-2.609 1.461-2.458 1.352-2.564 1.424-2.564 1.75-.001.071.074.359.166.64.218.67.272 1.623.129 2.279-.523 2.391-3.019 3.893-5.442 3.274a4.402 4.402 0 0 1-3.185-3.078c-.155-.542-.166-1.618-.023-2.149.325-1.207 1.202-2.258 2.354-2.822.701-.343.912-.381 2.427-.432 2.955-.099 4.266-.281 4.998-.695.48-.27 2.332-1.488 7.298-4.8 2.588-1.725 4.847-3.207 5.018-3.293.563-.281 1.29-.479 2.073-.564.422-.046 1.773.023 2.433.125m-3.768 10.534 5.205 2.88-.202.06c-.382.112-1.535.291-2.276.352-1.197.099-2.258-.047-3.209-.443-.287-.12-1.38-.82-3.647-2.337-1.78-1.191-3.243-2.186-3.25-2.212-.017-.056 2.018-1.2 2.111-1.188.035.005 2.406 1.304 5.268 2.888m-19.368-.608c-1.016.17-2.081.921-2.538 1.791a2.889 2.889 0 0 0-.367 1.484c-.001.892.343 1.653 1.046 2.311.415.388.861.643 1.468.839.617.199 1.521.214 2.149.034 2.301-.656 3.317-2.93 2.165-4.842A4.08 4.08 0 0 0 8.285 20c-.844-.804-2.111-1.164-3.361-.955m1.403 1.349c.68.181 1.236.623 1.504 1.197a1.8 1.8 0 0 1-.006 1.451c-.486 1.009-1.837 1.517-2.984 1.123-.459-.158-.634-.267-.956-.596-.379-.387-.525-.746-.525-1.291 0-1.089 1.005-1.945 2.293-1.954.22-.001.523.03.674.07" fill-rule="evenodd"/></svg> Simple Editor


        .sh__video--wrp
            .sh__video--sheet
            video(class="sh__video" id="preview" width="100%" height="100%" autoplay muted)
            button(class="sh__btn sh__video--btn1 pause" id="pauseAndResume")
            button(class="sh__btn sh__video--btn" id="stop")

            a(class="sh__btn sh__download-btn" id="download")
                img(class="sh__download-btn--icon" src=`./images/download.svg`)
                span(class="sh__download-btn--text") Download now
