a.github-button(href='https://github.com/buttons/github-buttons' data-icon='octicon-star' data-show-count='true' aria-label='Star buttons/github-buttons on GitHub') Star
a.github-button(href='https://github.com/buttons/github-buttons/fork' data-icon='octicon-repo-forked' data-show-count='true' aria-label='Fork buttons/github-buttons on GitHub') Fork
