span.sh__github 
    a.github-button(href='https://github.com/heysagnik/screenREC' data-icon="octicon-star" data-size='large' data-show-count='true' aria-label='Star buttons/github-buttons on GitHub') Star
