section.sh__recorder
    .sh__wrp
        .sh__video--wrp
            .sh__video--sheet
            video(class="sh__video" id="preview" width="100%" height="100%" autoplay muted)
            button(class="sh__btn sh__video--btn1 pause" id="pauseAndResume")
            button(class="sh__btn sh__video--btn" id="stop")

            a(class="sh__btn sh__download-btn" id="download")
                img(class="sh__download-btn--icon" src=`./images/download.svg`)
                span(class="sh__download-btn--text") Download now
