span.sh__toggler
    .sh__toggler-wrp
        span.sh__toggler-btn--moon
            img(class="sh__toggler--icon moon" src="images/moon.svg" alt="dark mode icon")
        span.sh__toggler-btn--sun
            img(class="sh__toggler--icon sun" src="images/sun.svg" alt="light mode icon")