doctype html
html(lang='en')
    include partials/head
    body(class="sh" data-theme="auto")
        include partials/progress
        include partials/toggler
        include partials/recorder
        include partials/footer
        include partials/toast

        script(src="js/index.js" type="module")